In [19]:
#Importing libraries
import numpy as np 
import pandas as pd 
import io
import matplotlib.pyplot as plt

In [20]:
# reading the csv file, del 2 columns from the file, checking first few rows of the file
data = pd.read_csv('./BuyComputer.csv')
data.drop(columns=['User ID',],axis=1,inplace=True)
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [21]:
#Declare label as last column in the source file
label=data['Purchased']
label

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [22]:
#Declaring X as all columns excluding last
X=data[['Age','EstimatedSalary']]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [23]:
# Splitting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,label,test_size=0.3,random_state = 66)
X_train, X_test, y_train, y_test

(     Age  EstimatedSalary
 289   37            78000
 314   39            79000
 30    31            74000
 116   35            75000
 218   46            96000
 ..   ...              ...
 122   40            75000
 51    18            44000
 119   41            59000
 316   54           104000
 20    45            22000

 [280 rows x 2 columns],      Age  EstimatedSalary
 189   28            32000
 292   55            39000
 140   19            85000
 97    28           123000
 207   52           114000
 ..   ...              ...
 376   46            74000
 237   37            80000
 57    28            79000
 81    39            42000
 7     32           150000

 [120 rows x 2 columns], 289    1
 314    0
 30     0
 116    0
 218    0
       ..
 122    0
 51     0
 119    0
 316    1
 20     1
 Name: Purchased, Length: 280, dtype: int64, 189    0
 292    1
 140    0
 97     1
 207    0
       ..
 376    0
 237    0
 57     0
 81     0
 7      1
 Name: Purchased, Length: 120, dtype: int64)

In [24]:
# Sacaling data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [25]:
y_pred = []
len_x = len(X_train[0])
w = []
b = 0.2
print(len_x)

2

In [26]:
entries = len(X_train[:,0])
entries

280

In [27]:
for weights in range(len_x):
    w.append(0)
w

[0, 0]

In [28]:
# Sigmoid function
def sigmoid(z):
  return 1/(1+np.exp(-z))

def predict(inputs,w):
    z=np.dot(inputs,w)
    return sigmoid(z)

In [29]:
#Loss function
def loss_func(features,labels,w):
    observations = len(labels)
    predictions = predict(features, w)
    class1_cost = -labels*np.log(predictions)
    class2_cost = (1-labels)*np.log(1-predictions)
    cost = class1_cost - class2_cost
    cost = cost.sum() / observations
    return cost

dw = []
db = 0
J = 0
alpha = 0.1
for x in range(len_x):
    dw.append(0)

In [30]:
def update_weights(features, labels, weights, lr):    
    
    N = len(features)    
    predictions = predict(features, weights)    
    gradient = np.dot(features.T,  predictions - labels)    
    gradient /= N    
    gradient *= lr    
    weights -= gradient

    return weights

In [31]:
#Repeating the process 3000 times
cost_history = []
for i in range(3000):
    w = update_weights(X, label, w, alpha)

    #Calculate error for auditing purposes
    cost = loss_func(X, label, w)
    cost_history.append(cost)

    # Log Progress
    if i % 1000 == 0:
        print("iter: "+ str(i) + " cost: "+str(cost))

iter: 0 cost: inf

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

iter: 1000 cost: inf
iter: 2000 cost: inf

In [32]:
#Print weight
w

#print bias
b

0.2

In [33]:
#predicting the label
predicted_labels=predict(X_test,w)

#print actual and predicted values in a table
predicted_labels,label

# Calculating accuracy of prediction
diff = predicted_labels - y_test
acc=1.0 - (float(np.count_nonzero(diff)) / len(diff))
acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until

0.3916666666666667

In [34]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state = 26)

#Fit
LR=LR.fit(X_train,y_train)
#predicting the test label with LR. Predict always takes X as input
y_pred=LR.predict(X_test)
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1])